.App {
  text-align: center;
  background-image: linear-gradient(rgba(224,224,224,0.3), rgba(224,224,224,0.3)), url(bg.jpg);
  height: 100%;
  background-size: cover;
  background-position: center;
}
#root {
  height: 100%;
}

body {
  height: 100vh;;
}

.Signup {
}

.input {
  font-family: "Roboto", sans-serif;
  outline: 1;
  background: #f2f2f2;
  margin-bottom: 10%;
  margin-top: 10px;
  width: 100%;
  height: 35px;
  border: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-size: 23px;
  box-sizing: border-box;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 23px;
}

.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  border-style: solid;
  border-color: black;
  border-radius: 50px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
}

.main-logo {
  margin-top: 3%;
  margin-bottom: 6%;
  width: 50%;
  margin: 0px;
}

.signup {
  margin-bottom: 2%;
}



.homepage {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 5vh;
}

.main-container{
  display: flex;
}

.items-container{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
}

.side-menu{
  height: 95vh
}

.item {
  height:200px;
  margin:20px;
}
.top-container-all{
  display: flex;
  /*position fixed?*/
  
}
.top-container-right{
  display: flex;
  justify-content: flex-end
}
.top-container-left{
  display:flex;
  justify-content: flex-start
}
.sideList{
  list-style: none
}
.list-items{
  display:flex;
  position: relative;
  background-color: white;
  width: 100%;
  height: 95vh;
  justify-content: center;
  align-content: center;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-button {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
.dropdown-button:focus {
  background-color: #2980B9;
}

.submitItem{
  align-content: center


}