
.App {
  text-align: center;
  height: 100%;
}

.bg-image {
  background-image: url(bg1.jpg);
  background-size: cover;
  background-position: center;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  z-index: 10;
}

#root {
  height: 100%;
}

body {
  height: 100vh;;
}

.signup-button {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #ffe699;
  width: 100%;
  height: 45px;
  font-size: 23px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-bottom: 6%;
}

.login-button {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #ffe699;
  width: 100%;
  height: 45px;
  font-size: 23px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.auth {
margin-bottom: 10%;
font-size: 40px;
font-family: 'Roboto', sans-serif;
font-weight: 100;
}

.input {
  font-family: "Roboto", sans-serif;
  outline: 1;
  text-indent: 10px;
  background: #f2f2f2;
  margin-bottom: 10%;
  margin-top: 10px;
  width: 100%;
  height: 45px;
  border: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-size: 23px;
  box-sizing: border-box;
}

::-webkit-input-placeholder { 
  font-size: 23px;
}

.form {
  position: relative;
  z-index: 10;
  background: rgba(230, 212, 166, 0.7);
  max-width: 360px;
  border-radius: 12px;
  margin: 0 auto 100px;
  padding: 50px;
  text-align: center;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.623);
}

.main-logo {
  margin-top: 3%;
  margin-bottom: 6%;
  width: 40%;
  margin: 50px;
  position: relative;
  z-index: 11;
}


.homepage {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 5vh;
}

.main-container{
  display: flex;
}

.items-container{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
}

.side-menu{
  height: 95vh
}

.item {
  height:200px;
  margin:20px;
}
.top-container-all{
  display: flex;
  justify-content: flex-start;
  
}
.top-container-right{
  display: flex;
  justify-content: flex-end
}
.top-container-left{
  display:flex;
  justify-content: flex-start
}
.sideList{
  list-style: none
}
.list-items{
  display:flex;
  position: relative;
  background-color: white;
  width: 100%;
  height: 95vh;
  justify-content: center;
  align-content: center;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-button {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
.dropdown-button:focus {
  background-color: #2980B9;
}

.submitItem{
  align-content: center
}

.details, .listitem, .profile, .cart {
  margin: auto;
  border: 10px;
  align-content: center;
}

.searchBar {
  width: 100%;
}